<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Ward</title>
    <link rel="stylesheet" href="../static/css/ashaWomenInWard.css">
</head>
<body>
    <h2>Pregnant Women in your ward</h2>
    <div class="womenList">
        <!-- this <a> tag lead to each women guidline update -->
        
        <div class="eachWomen">
            <a href="./ashaguidlinesView.html">
                <img src="./ashaguidlinesView.html" alt="">
                Name, Number
            </a>
        </div>    
    </div>
</body>
</html>