<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASHA Guidlines View</title>
    <link rel="stylesheet" href="../static/css/ashaGuidlinesView.css">
</head>
<body>
    <h3>Woman Name</h3>
    <div class="updated">
        <img src="../static/images/lineart .svg" alt="">

        <!-- guidline trans week by week after update -->
    </div>
</body>
</html>