<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ASHA Worker Sign up</title>
    <link rel="stylesheet" href="../static/css/ashaSignUp.css">
</head>
<body>
    <h1>ASHA Worker Sign Up</h1>
<div class="content">
    <img src="../static/images/brown big log.svg" >
        <div class="contentWrapper">
            <p>Name</p>
                <input type="text"placeholder="Full Name">
            <p>Email id</p>
                <input type="email"placeholder="eg: arunsmoki@gmail.com">
            <p>ASHA id</p>  
                <input type="text"placeholder="eg:">
            <p>Password</p>     
                <input type="password"placeholder="enter a strong password">
            <p>Confirm Password</p>     
                <input type="password"placeholder="******">
            <p>District</p>     
                <input type="text"placeholder="eg: Thrissur">
            <p>Cooperation/Muncipality/Panchayath</p>   
                <input type="text"placeholder=" ">
            <p>Ward No.</p>     
                <input type="number"placeholder=" ">
            <div class="SignUp">
                <a href="ashalogin.html">  
                    <button >Sign Up</button>
                 </a>
            </div>

            <p>Already have an account? <a style="font-weight: bold;" href="./ashalogin.html" > Login </a> </p>
        </div>
</div>
</body>
</html>