{% extends 'baseAsha.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/ashaupdate.css">
{% endblock %}
{% block content %}


<form action="{% url 'ashaupdate' %}" method="post">
    {% csrf_token %}
    <div class="wupdates-wrapper">
        <div style="display: flex; align-items: center; justify-content: center; ">

            <div class="contentWrapper">
                <div class="img-circle text-center mb-3">
                    <img src="../static/images/profile3.png" alt="Image" class="shadow">
                </div>
                <div>
                    <p>Name</p>
                    <input style="width: 100%" type="text" placeholder="   " value="{{my_dict.name}}" name="new_name">
                </div>

                <div class="new">
                    <div>
                        <p>District</p>
                        <input type="text" placeholder="   District" name="newdistric" value="{{my_dict.district}}">
                        <p>Panchayath</p>
                        <input type="text" placeholder="   Panchayath" name="newpanchayath"
                            value="{{my_dict.panchayath}}">
                        
                    </div>

                    <div>
                        
                        <p>Ward Number</p>
                        <input type="text" placeholder="   Ward Number" name="newwardno" value="{{my_dict.wardno}}">
                            
                        <p>Contact</p>
                        <input type="number" placeholder="   Contact" name="newphone" value="{{my_dict.phone}}">
                    </div>
                </div>

                <div style="display: flex; gap: 5px; padding-top: 20px;">
                    <a href="./ashaprofile.html">
                        <button class="button-71" role="button">Done</button>
                    </a>
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock %}