<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asha home</title>
    <link rel="stylesheet" href="../static/css/ashaHome.css">
</head>
<body>
    <h1 style="padding-left:50px;padding-top:50px"> ASHA Worker Home Page </h1>
    <p class="intro">
        Accredited Social Health Activist, or ASHA, worker is female healthcare activist trained to facilitate the work of the nationwide public health system within their community. ASHA
        workers are a core part of the National Rural Health Mission launched by the Government 
        of India. ASHA workers are trained to act as a care provider at the community level and
        facilitate access to healthcare, medicine and sanitation services. ASHA workers also work
        to raise the level of awareness of health issues among the marginalised sections within the community.
    </p>
    <p class="steps"> 
        <strong> Steps of the Website  </strong> <br> <br>
        Step 1: Set up the profile page <br>
        Step 2: You can view pregnant women in your ward through ward section <br>
        Step 3 : Each women updated details can be viewed through ward by linking to each name <br>
        Step 4: Doubts can be clarified through chat section <br>

    </p>
</body>
</html>