<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="../static/css/ashalogin.css">
</head>

<body>
    <h1>Log In</h1>
    <form action="{% url 'ashalogin' %}" method="post">
        {% csrf_token %}
        <div class="content">
            <img src="../static/images/brown big log.svg">
            <div class="contentWrapper">

                <p>Email id</p>
                <input type="email" name="email" placeholder="email id">

                <p>Password</p>
                <input type="password" name="password" placeholder="******">

                <div class="logIn">
                    <a>
                        <button type="submit">Log In</button>
                    </a>
                </div>


            </div>
        </div>
    </form>
</body>

</html>