{% extends 'baseAsha.html' %}
{% block style %}<link rel="stylesheet" href="../static/css/ashaWomenInWard.css"> {% endblock %}
{% block content %}
    

<body>
    <h2>Pregnant Women in your ward</h2>
    <div class="womenList">
        <!-- this <a> tag lead to each women guidline update -->
        
            <div class="new">
                <div class="eachWomen">
                    <a href="{%url 'ashaGuidlinesView'%}">
                        <img src="./ashaguidlinesView.html" alt="">
                        Name, Number
                    </a>
                </div>    
                <div class="eachWomen">
                    <a href="{%url 'ashaGuidlinesView'%}">
                        <img src="./ashaguidlinesView.html" alt="">
                        Name, Number
                    </a>
                </div>  
            </div>
    </div>
</body>
{% endblock %}