<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>women base</title>
    {% block style %} {% endblock %}
    <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>
    <div style="background-color: #a77c6f; display: flex; justify-content: center;width:100vw">
        <div class="topcontainer">
            <img src="../static/images/logo-white.svg" />
            
            <div style="display:flex;gap:20px; padding-right:10px;">
                <a class="text-nav" href="./wGuideline.html">
                    <img src="../static/images/Guidlines.svg" alt="">
                </a>
                <a class="text-nav" href="./ashaChat.html">
                    <img src="../static/images/chat.svg" alt="">
                </a>
                <a class="text-nav" href="./wremainder.html">
                    <img src="../static/images/alarm 1.svg" alt="">
                </a>
                <a class="text-nav" href="./wprofile.html">
                    <img src="../static/images/profileIcon .svg" alt="">
                </a>
                <a class="text-nav" href="./whome.html">
                    <img src="../static/images/homeIcon.svg" alt="">
                </a>
            </div>
        </div>
    </div>

    <div class="content">
{% block content %}
{% endblock %}
    </div>
    <div class= "bottom">
        <div class="bottomcontainer" >
            <img src="../static/images/logo-white.svg" />
            
            <div class="bottomRight" >
                <img  class="text-footer" src="../static/images/insta_white.svg" alt="">
                <img class="text-footer" src="../static/images/mail_white.svg" alt="">                              
            </div>  

        </div>
    </div>
    {% block script %}
    {% endblock %}
</body>

</html>