<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>base</title>
    <link rel="stylesheet" href="../static/css/base.css">
</head>

<body>
    <div style="background-color: #a77c6f; display: flex; justify-content: center;width:100vw">
        <div class="topcontainer">
            <img src="../static/images/logo-white.svg" />
            <div style="display:flex;gap:20px; padding-right:10px;">
                <a class="text-nav" href="">LOGIN</a>
                <a class="text-nav" href="">SIGN UP</a>
            </div>
        </div>
    </div>

    <div class="content">

    </div>
    <div class= "bottom" style="background-color: #a77c6f; display: flex; justify-content: center;width:100vw">
        <div class="bottomcontainer" >
            <img src="../static/images/logo-white.svg" />
            <div style="display:flex; padding-right:10px;">
                <p class="text-footer"> email id: macare2023@gmail.com <br> instagram: macare@<p>
                <p class="text-footer"></p>
                
                
            </div>
        </div>
    </div>




</body>

</html>