<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="../static/css/home.css" />
</head>

<body>
    <div class="navbar" style=" background-color: #a77c6f; display: flex; justify-content: center;width:100vw ">
        <div class="topcontainer ">
            <img src="../static/images/logo-white.svg " />
            <div style="display:flex;gap:80px; padding-right:10px;">
                <a class="text-nav " href=" ">LOGIN</a>
                <a class="text-nav " href=" ">SIGN OUT</a>
            </div>
        </div>
    </div>
    <div class="home-content-wrapper ">
        <div class="home-content ">
            <div style="width: 400px; ">
                <h1> Nurturing new life </h1>
                <br>
                <p class= "tagWrap"> Together, we can create your little one healthy for a brighter tomorrow....!</p>
            </div>
            <a href="#signupsection">
                <button style="background-color: #8B614B;color:white;padding:10px 25px;border-radius:10px ">Sign Up</button>
            </a>
        </div>
        <div>
            <img src="../static/images/front-page-motherimg.svg " alt=" ">
        </div>
    </div>
    <div class="ourmission">

        <h1>Our Mission</h1>
        <p style="text-align:center;width:50%; font-size:larger;">
            Our website will include guidance for the maternity period, support in getting all welfare provided by admin, several interventions, including the provision of  maternal care in government hospitals, the distribution of nutritional supplements,
            and the expansion of health insurance coverage for maternity care.
        </p>
    </div>
    <div class="container">
        <div class="item item-1">
            <h4 >
                Pregnant women
            </h4>
            <p style="align-items: center;">* We  make sure you get all welfares offered in the society. <br> <br>
                * Lets hold our hands together for a healthy and nourished genarations. <br>
             </p>
        </div>
        <div class="item item-2">
            <h4 >
                Asha worker
            </h4>
            <p style="align-items: center">* We make your work more simple  and faster
                Digitise the documents. <br> <br>
                * Simpler access and time consuming. <br>
            </p>
        </div>   
    </div>
    <div id="signupsection" style="width:100vw;height:100vh">
        <h1 style="text-align:center;">Whom do you want to enter as?</h1>
       
        <div class="signupcont">

            <div>
             <img src="../static/images/signUpImg.svg"> 
            </div>

            <div class="signupbuttons">
                <a href="./womenSignUp.html">               
                      <button  type="submit" style="color:white;background-color:#8B614B;border-radius:40px; width: 150px; height: 30px;">Women</button>
                </a>
                <a href="./ashaSignUp.html">
                    <button onclick="" type="submit" style="color:white;background-color:#8B614B;border-radius:40px;width: 150px; height: 30px;">ASHA Worker</button>

                </a>
            </div>
        </div>
    </div>
    <div class= "bottom" style="background-color: #a77c6f; display: flex; justify-content: center;width:100vw">
        <div class="bottomcontainer" >
            <img src="../static/images/logo-white.svg" />
            <div style="display:flex; padding-right:10px;">
                <p class="text-footer"> email id: macare2023@gmail.com <br> instagram: macare<p>
                <p class="text-footer"></p>
                
                
            </div>
        </div>
    </div>
    
</body>

</html>