<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>woman chat</title>
    <link rel="stylesheet" href="../static/css/wChat.css">
</head>
<body>

    <div style="height: 100vh;">
        <h2>Chat </h2>

        <div style="padding-top: 20px;">
            <h3>Your ASHA Worker is: ....name</h3>
        </div>
        <div class="chatSection">

        </div>
    </div>
    
</body>
</html>