<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women Guidlines</title>
    <link rel="stylesheet" href="../static/css/wGuidlines.css">
   
</head>
<body>
    
    <h1 style="padding-left:50px;padding-top:50px"> Guidlines </h1>
        <div class="steps">
            <h2> Steps of the Website </h2> <br>

            Step 1: Set up your profile page <br>
            Step 2: Your ward ASHA Worker whom you can contact for health government services can be seen in ASHA details. <br>
            Step 3: Your pregnancy period guidance will be seen in guidance page, main date-wise welfares <br>
            Step 4: Reminder alerts will be provided, ensure to do according to guidance and update checkbox after each <br>
            Step 5: If any doubt or clarification needed you can use chat section to contact ASHA Worker. <br> <br>

        </div>

        <section class="trans" >
            <div class="card-gallery">
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          2
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-2.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">          
                  <p  style="padding-top: 10px;">Ovulation may happen after 2 weeks your last period began.If egg meets sperm you are on the way of being pregnant.</p>
                <strong>Size</strong> 
                
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-2.svg" alt="">
                
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          3
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-3.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">1 week of fertilization.Baby is made up of several hundered which are multiplying quickly.</p>
                  <strong>Size:Baby is now a tiny ball</strong> 
                  <img style="padding-top: 10px;width: 110px; height: 90px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-3.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          4
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-4.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Baby develops from a ball of cells to embryo having two layers.Primitive placenta and amniotic sac is developing.</p>
                  <strong>Size:Size of a poppy seed</strong> 
                  <img style="padding-top: 10px;width: 110px; height: 90px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-4.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          5
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-5.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Embryo made up of 3 layers(ectoderm,mesoderm,endoderm) which later form the organs and tissues.
                  Ectoderm - brain,spinal cord,nerves statrt to form from embryos top layer
                  Mesoderm - heart and circulatory system begin to form from this layer
                  Endoderm - This layer becomes lungs, intestines, and early urinary system, as well as the thyroid, liver, and pancreas</p>
                  <strong>Size:Looks like a tadpole and size of a sesame seed</strong> 
                  <img style="padding-top: 10px;width: 110px; height: 90px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-5.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          6
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-6.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  <p  style="padding-top: 10px;">Your baby's heart starts beating.There are dark spots where your baby's eyes and nostrils are starting to form. Emerging ears are marked by small depressions on the sides of the head. Tongue and vocal cords are beginning to develop.</p>
                  <strong>Size:Size of a lentil</strong> 
                  <img style="padding-top: 10px;width: 110px; height: 90px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-6.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          7
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-7.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
          
                  <p  style="padding-top: 10px;">Your baby's eyes,nose,ears becomes more defined. Arm and leg buds are growing longer. </p>
                  <strong>Size:Size of a blueberry</strong> 
                  <img style="padding-top: 10px;width: 110px; height: 90px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-7.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          8
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-8.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Your baby's hands and feet which look like paddles are sprouting webbed fingers and toes. Nerves, bones, and muscles are developing inside your baby's tiny limbs.</p>
                  <strong>Size:Size of a kidney bean</strong> 
                  <img style="padding-top: 10px;width: 110px; height: 90px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-8.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          9
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-9.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Your baby has all the essential body parts now, including elbows and knees. On your baby's face, the upper lip, nose, and eyelids have formed. And your baby's tiny toes are visible!</p>
                  <strong>Size:Size of a grape</strong> 
                  <img style="padding-top: 10px;width: 100px; height: 60px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-9.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          10
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-10.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">The main parts of the eye that enable your baby's vision the cornea, iris, pupil, lens, and retina are fully formed. Baby's teeth are starting to harden and connect to the jaw bone. </p>
                  <strong>Size: Size of a kumquat</strong> 
                  <img style="padding-top: 10px;width: 90px; height: 110px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-10.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          11
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-11.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  <p  style="padding-top: 10px;">As you reach the end of the first trimester, all your baby's vital organs are in place, and many have already started to function.By the end of this week, your baby's genitals will start developing.</p>
                  <strong>Size:Size of a fig</strong> 
                  <img style="padding-top: 10px;width: 90px; height: 110px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-11.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" style="padding: 10px;">
                  <div class="left">
                      <div class="number">
                          12
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-12.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  <p  style="padding-top: 10px;">Your baby starts to move. Your baby can open and close their hands (making a fist) and curl their toes.</p>
                  <strong>Size: Size of a lime</strong> 
                  <img style="padding-top: 10px;width: 110px; height: 90px;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-12.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          13
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-13.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">End of firt trimester.Bones are beginning to harden in your baby's skeleton, especially longer bones and the skull. Your baby's teeth and bones are becoming denser.</p>
                <strong>Size: Size of a peapod</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-13.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          14
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-14.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby is making expression with his tiny features.Soft baby hair is coming</p>
                <strong>Size: Size of a lemon</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-14.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          15
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-15.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby is forming taste buds, and nerves begin connecting them to the brain. Can move all of their joints and limbs. Your baby is looking more like a little person, with eyelids, eyebrows, eyelashes, nails, hair, and well-defined fingers and toes.</p>
                <strong>Size:Size of an apple</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-15.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          16
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-16.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Your baby's heart is now pumping about 25 quarts of blood each day.On your baby's scalp, hair follicles are forming a pattern that will remain for life. Your baby's skin is thin and translucent. It will thicken and develop as your pregnancy progresses.</p>
                <strong>Size: size of an avocado
                </strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-16.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          17
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-17.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby's skeleton is changing from soft cartilage to bone.The umbilical cord your baby's lifeline to the placenta is growing stronger and thicker.Sweat glands are starting to develop. </p>
                <strong>Size: size of a turnip</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-17.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          18
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-18.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Your baby's genitals are clear enough to see on ultrasound.Lungs starts branching out.</p>
                <strong>Size: size of a bell pepper</strong> 
                  <img style="padding-top: 10px; width: 100px; height: 110px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-18.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          19
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-19.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby's sensory development is exploding. The skin on your baby's fingers and toes has formed distinct patterns. These fingerprints (and toeprints) are now permanent and unique.</p>
                <strong>Size: size of an heirloom tomato</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-19.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          20
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-20.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Many of your baby's taste buds can now transmit taste signals to their brain, and your baby is swallowing molecules of the food you eat that have passed through your blood into your amniotic fluid. </p>
                <strong>Size: size of a banana</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-20.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          21
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-21.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby's initial fluttering movements will turn into full-fledged kicks and nudges.</p>
                <strong>Size: size of a carrot</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-21.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          22
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-22.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby may be able to hear sounds from inside your body, such as noises from your breathing, heartbeat, and digestion. </p>
                <strong>Size: size of a spaghetti squash</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-22.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          23
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-23.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby can hear sounds from outside your body now.The wave-like movements that propel food along your baby's digestive tract begin now.</p>
                <strong>Size: size of a large mango</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-23.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          24
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-24.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Respiratory sacs at the tips of the smallest branches of your baby's lungs are growing and multiplying, adding more surface area for the exchange of oxygen and carbon dioxide.</p>
                <strong>Size:  size of an ear of corn</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-24.svg" alt="">
                </div>
              </div>
              
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          25
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-25.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Your baby will soon exchange that long, lean look for some baby fat. Wrinkled skin will begin to smooth out, and they'll start to look more and more like a newborn.Your baby is growing more hair.</p>
                <strong>Size: size of a rutabaga</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-25.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          26
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-26.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby has started to inhale and exhale small amounts of amniotic fluid, which is essential for lung development.</p>
                <strong>Size: size of a scallion</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-26.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          27
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-27.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby's eyes can now open and close! Your baby's lungs are making surfactant. </p>
                <strong>Size: size of a head of cauliflower
                </strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-27.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          28
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-28.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Starts your last trimester.Your baby's brain will triple in weight this trimester.Your baby's senses of hearing, smell, and touch are developed and functional.</p>
                <strong>Size: size of a large eggplant</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-28.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          29
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-29.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                
                  <p  style="padding-top: 10px;">Your baby's muscles and lungs are maturing.Your baby's respiratory system is still developing.</p>
                <strong>Size: size of a butternut squash</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-29.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          30
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-30.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby's skin cells are making melanin, which gives skin its color. </p>
                <strong>Size:  size of a large cabbage</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-30.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          31
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-31.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Brain development kicks into high gear in the last trimester as your baby's brain triples in weight.Your baby can stretch, kick, and somersault.</p>
                <strong>Size: size of a coconut</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-31.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          32
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-32.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">In the next few weeks, your baby will likely get into the ideal position for birth head down, facing your back.Your baby's body is stashing away important minerals such as iron, calcium, and phosphorus. </p>
                <strong>Size: size of a jicama</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-32.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          33
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-33.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">The bones in your baby's skull aren't fused together, which allows them to move and slightly overlap. Your little one is rapidly losing that wrinkled look. </p>
                <strong>Size: size of a pineapple</strong> 
                  <img style="padding-top: 10px; width: 90px; height: 120px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-33.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          34
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-34.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">At 34 weeks, your baby's fingernails have grown to the end of their fingertips. .Your baby can respond to sounds, light, and touch.</p>
                <strong>Size: size of a cantaloupe</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-34.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          35
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-35.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby is cushioned and protected by about a quart of amniotic fluid. It increases during pregnancy until about 36 weeks.Your baby's kidneys are fully developed now.</p>
                <strong>Size: size of a honeydew melon</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-35.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          36
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-36.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby's lungs are ready for the outside world! Your baby's bones are hardening, though they're still softer than an adult's. </p>
                <strong>Size:  size of a head of romaine lettuce</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-36.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          37
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-37.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Many babies have a full head of hair at birth.Your baby is continuing to put on weight, and the added fat is smoothing out their skin. </p>
                <strong>Size:  size of a bunch of Swiss chard</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-37.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          38
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-38.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby's fingernails and toenails are fully formed. </p>
                <strong>Size:  size of a leek</strong> 
                  <img style="padding-top: 10px; width: 90px; height: 120px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-38.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          39
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-39.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby is full term.Your little one continues to build a layer of fat to help control their body temperature after birth.</p>
                <strong>Size: size of a mini-watermelon </strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-39.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          40
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-40.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your pregnancy is full term and your baby is fully developed. Babies of all ethnicities are born with reddish-purple skin that changes to pinkish-red in a day or so.Your baby's skull isn't one large bone, like an adult's. It starts out as separate bones joined by flexible tissue. </p>
                <strong>Size: size of a small pumpkin</strong> 
                  <img style="padding-top: 10px; width: 110px; height: 90px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-40.svg" alt="">
                </div>
              </div>
      
              <div class="card">
                <div class="card-front" >
                  <div class="left">
                      <div class="number">
                          41
                      </div>
                        weeks pregnant
                  </div>
                  <div class="right" style="padding-top: 10px;">
                      <img src="https://assets.babycenter.com/ims/2021/03/fruit-week-41.svg" alt="">
                  </div>
                </div>
                <div class="card-back"  style="padding: 10px;">
                  
                  <p  style="padding-top: 10px;">Your baby is "late term" which means they've been camping out in your womb for a long time. </p>
                <strong>Size: weigh 8.35 pounds and be 20.39 inches long</strong> 
                  <img style="padding-top: 10px; width: 90px; height: 110px; display: flex;justify-content: center; align-items: center;" src="https://assets.babycenter.com/ims/2021/03/fruit-week-41.svg" alt="">
                </div>
              </div>
     
        </div>
      </section>

        <div class="trimDetails">
            <h2>Trimester Wise Details</h2> <br>
            <div class="trimDetailsWrap">
                <p>
                    The pregnancy period, also known as gestation, is a unique experience for each woman. However, there are some common changes and experiences that most women will encounter during pregnancy. Here are some general descriptions of the three trimesters of pregnancy: <br><br>

                    <strong> First trimester: </strong> This period lasts from the first day of your last period until the end of week 12. During this time, your body is going through significant changes to support the growth of your baby. You may experience symptoms like fatigue, nausea and vomiting (often called morning sickness), breast tenderness, and frequent urination. Your baby is growing rapidly during this time, and by the end of the first trimester, they will have all of their major organs and body systems formed. <br> <br>

                    <strong>Second trimester: </strong> This period lasts from week 13 to week 27. Many women find that the second trimester is the most enjoyable part of their pregnancy. Your baby is growing quickly during this time, and you may start to feel them move around 16-22 weeks. Your energy levels may increase, and many of the symptoms of the first trimester may start to ease. You may notice weight gain, and your bump will start to become more visible. <br> <br>

                    <strong>Third trimester: </strong> This period lasts from week 28 until birth. During this time, your baby is continuing to grow and develop, and you may start to feel more uncomfortable as your bump gets larger. You may experience symptoms like back pain, trouble sleeping, and shortness of breath. As you approach your due date, you may start to experience Braxton Hicks contractions, which are practice contractions that help prepare your body for labor. <br>
                </p>
                <img src="../static/images/Baby-cuate 1.svg" alt="">
            </div>

        </div>

   
</body>
</html>