<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women Guidlines</title>
    <link rel="stylesheet" href="../static/css/wGuidlines.css">
   
</head>
<body>
    
        
        <div class="steps">
            <h2> Steps of the Website </h2> <br>

            Step 1: Set up your profile page <br>
            Step 2: Your ward ASHA Worker whom you can contact for health government services can be seen in ASHA details. <br>
            Step 3: Your pregnancy period guidance will be seen in guidance page, main date-wise welfares <br>
            Step 4: Reminder alerts will be provided, ensure to do according to guidance and update checkbox after each <br>
            Step 5: If any doubt or clarification needed you can use chat section to contact ASHA Worker. <br> <br>

        </div>

        <div class="trimDetails">
            <h2>Trimester Wise Details</h2> <br>
            <div class="trimDetailsWrap">
                <p>
                    The pregnancy period, also known as gestation, is a unique experience for each woman. However, there are some common changes and experiences that most women will encounter during pregnancy. Here are some general descriptions of the three trimesters of pregnancy: <br><br>

                    <strong> First trimester: </strong> This period lasts from the first day of your last period until the end of week 12. During this time, your body is going through significant changes to support the growth of your baby. You may experience symptoms like fatigue, nausea and vomiting (often called morning sickness), breast tenderness, and frequent urination. Your baby is growing rapidly during this time, and by the end of the first trimester, they will have all of their major organs and body systems formed. <br> <br>

                    <strong>Second trimester: </strong> This period lasts from week 13 to week 27. Many women find that the second trimester is the most enjoyable part of their pregnancy. Your baby is growing quickly during this time, and you may start to feel them move around 16-22 weeks. Your energy levels may increase, and many of the symptoms of the first trimester may start to ease. You may notice weight gain, and your bump will start to become more visible. <br> <br>

                    <strong>Third trimester: </strong> This period lasts from week 28 until birth. During this time, your baby is continuing to grow and develop, and you may start to feel more uncomfortable as your bump gets larger. You may experience symptoms like back pain, trouble sleeping, and shortness of breath. As you approach your due date, you may start to experience Braxton Hicks contractions, which are practice contractions that help prepare your body for labor. <br>
                </p>
                <img src="../static/images/Baby-cuate 1.svg" alt="">
            </div>

        </div>

   
</body>
</html>