{% extends 'baseWomen.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/whome.css" />
{% endblock %}
{% block content %}
<div>
        <a href="./wprofile.html">profile</a>
        <a href="./wGuideline.html">guidlines</a>
        <a href="./wremainder.html">remainder</a>
        <a href="./wchat.html">chat</a>

        
        <div class="womenhomepg">
            <h1 style="padding-top:50px"> Women Home Page </h1>

            <div class="womencont">
                <div style="display:flex;gap:30px">
                    
                        <pre> <strong> Hey Meera,<br><br></strong>      its your 7th week <br>      on the journey <br>      of 33 weeks 
                        </pre>

                        <img src="../static/images/rocket.svg" style=" padding-top: 40px;"/>
                   
                </div>
               
                    <img src="../static/images/Pregnancy stages-pana (2) 1.svg" style="width:600px;height:500px;padding:80px"/>
                
            </div>

            <div class="weekTopButtonDiv">
                <a href="#weektrans">
                    <button class="weekTopButton"> <strong> Update your weekly info. </strong>
                        <img style="padding-left: 15px;" src="../static/images/weekDownArrow.svg" >
                    </button>
                </a>
            </div>
        </div>

        <div id="weektrans" class="trans">
            <h2 style="display: flex; justify-content: center; ">Week by Week Updates</h2>
            
            <ul class="weeks">
                <li>
                    <label for="one" class="weekbutton"> Start </label>
                    <input class="radiobutton" id="one" type="radio" name="weekno" value="One"/>
                </li>
                <li>
                    <label for="two" class="weekbutton">Week 2</label>
                    <input class="radiobutton" id="two" type="radio" name="weekno" value="Two"/>
                </li>
                <li>
                    <label for="three" class="weekbutton">Week 3</label>
                    <input class="radiobutton" id="three" type="radio" name="weekno" value="Three"/>
                </li>
                <li>
                    <label for="four" class="weekbutton">Week 4</label>
                    <input class="radiobutton" id="four" type="radio" name="weekno" value="Four"/>
                </li>
                <li>
                    <label for="five" class="weekbutton">Week 5</label>
                    <input class="radiobutton" id="five" type="radio" name="weekno" value="Five"/>
                </li>
                <li>
                    <label for="six" class="weekbutton">Week 6</label>
                    <input class="radiobutton" id="six" type="radio" name="weekno" value="Six"/>
                </li>
                <li>
                    <label for="seven" class="weekbutton">Week 7</label>
                    <input class="radiobutton" id="seven" type="radio" name="weekno" value="Seven"/>
                </li>
                <li>
                    <label for="eight" class="weekbutton">Week 8</label>
                    <input class="radiobutton" id="eight" type="radio" name="weekno" value="Eight"/>
                </li>
                <li>
                    <label for="nine" class="weekbutton">Week 9</label>
                    <input class="radiobutton" id="nine" type="radio" name="weekno" value="Nine"/>
                </li>
                        <li>
                    <label for="ten" class="weekbutton">Week 10</label>
                    <input class="radiobutton" id="ten" type="radio" name="weekno" value="Ten"/>
                </li>        <li>
                    <label for="eleven" class="weekbutton">Week 11</label>
                    <input class="radiobutton" id="eleven" type="radio" name="weekno" value="Eleven"/>
                </li>
                <li>
                    <label for="twelve" class="weekbutton">Week 12</label>
                    <input class="radiobutton" id="twelve" type="radio" name="weekno" value="Twelve"/>
                </li>
                <li>
                    <label for="thirteen" class="weekbutton">Week 13</label>
                    <input class="radiobutton" id="thirteen" type="radio" name="weekno" value="Thirteen"/>
                </li>
                        <li>
                    <label for="fourteen" class="weekbutton">Week 14</label>
                    <input class="radiobutton" id="fourteen" type="radio" name="weekno" value="Fourteen"/>
                </li>        <li>
                    <label for="fifteen" class="weekbutton">Week 15</label>
                    <input class="radiobutton" id="fifteen" type="radio" name="weekno" value="Fifteen"/>
                </li>
                <li>
                    <label for="sixteen" class="weekbutton">Week 16</label>
                    <input class="radiobutton" id="sixteen" type="radio" name="weekno" value="Sixteen"/>
                </li>

            </ul>

            <div id="showOne" class="myDiv">
               <p></p>
            </div>

            <div id="showTwo" class="myDiv">
                <h3 class="caluWeek">2 weeks pregnant and 38 weeks to go..!  </h3>
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  

                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>
                
                
                <button class="update">Update</button>
            
            </div>
            <div id="showThree" class="myDiv">
                <h3 class="caluWeek">3 weeks pregnant and 37 weeks to go..!  </h3>
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                
                
                <button class="update">Update</button>
            
            </div>
            
            <div id="showFour" class="myDiv">
                <h3 class="caluWeek">4 weeks pregnant and 36 weeks to go..!  </h3>
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                <div class="insidemyDiv" >
                    <p class="instruction"> * iron tablets are available  in gov hospt. for preg women iron tablets are available  in gov hospt. for preg women  </p> 
                    <input type="checkbox"> 
                </div>  
                
                
                <button class="update">Update</button>
        
            </div>
            <div id="showFive" class="myDiv">5
        
            </div>
            <div id="showSix" class="myDiv">6
        
            </div>
            <div id="showSeven" class="myDiv">7
        
            </div>
            <div id="showEight" class="myDiv">8
        
            </div>
            <div id="showNine" class="myDiv">9
        
            </div>
            <div id="showTen" class="myDiv">10
        
            </div>
            <div id="showEleven" class="myDiv">11
        
            </div>
            <div id="showTwelve" class="myDiv">12
        
            </div>
            <div id="showThirteen" class="myDiv">13
        
            </div>
            <div id="showFourteen" class="myDiv">14
        
            </div>
            <div id="showFifteen" class="myDiv">15
        
            </div>
            <div id="showSixteen" class="myDiv">16
        
            </div>
    
        </div>


        <div class="text" style="display:flex; flex-direction:row; gap:100px; font-size: medium;">
            <div  style=" text-align:center; padding-top:100px; padding-left:100px; width:700px;">
                <p>
                    Pregnancy is a time of immense change, growth, and wonder.
                    As a pregnant woman, you are embarking on an incredible journey that will transform your body, your mind, and your heart in ways you may not yet imagine. You are creating a new life, a precious little person who will bring you love, joy, and fulfillment beyond measure.
                </p>
                <br>
                <p>
                    But pregnancy can also be a time of uncertainty, discomfort, and fear. It's okay to feel overwhelmed or anxious at times, and it's important to take care of yourself physically, emotionally, and spiritually during this time.
                </p>
                <br>
                <p>
                    Remember to nourish your body with healthy foods and gentle exercise, to rest when you need to, and to seek support from loved ones and healthcare providers whenever you need it.
                </p>
            </div>
           
            <div class="womencard" >
                <div><img src="../static/images/holdOutURhands.svg" style=" height:180px; width:180px; "/></div>
                <div style="padding: 5px;">
                    <p>
                        As you begin this journey of pregnancy, know that you are not alone. You have a community of support and love around you, and we are all here to help you.
                    </p>
                </div>
            </div>
        </div>


      
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            var demovalue = $(this).val();
            $("div.myDiv").hide();
            $("#show" + demovalue).show();
        });
    });

    $('input[type="radio"]').on('change', function () {
        $('input[type="radio"]').closest('li.current').removeClass('current');
        $(this).closest('li').addClass('current');
    });
</script>
{% endblock %}