<html>
    <head>
        <title>women home page</title>
    <link rel="stylesheet" href="../static/css/womenhome.css">
    </head>
    <body>
        <a href="./wprofile.html">profile</a>
        <a href="./wGuideline.html">guidlines</a>
        <a href="./wremainder.html">remainder</a>

        <div class="womenhomepg">
            <h1 style="padding-left:50px;padding-top:50px"> Women Home Page </h1>

            <div class="womencont">
                <div style="display:flex;gap:30px">
                    <div >
                        <pre> <strong> Hey Meera,<br><br></strong>      its your 7th week <br>      on the journey <br>      of 33 weeks 
                        </pre>

                        <p style=" padding-top: 70px;">
                            * First set up your profile page..! <br>
                            * Checkout your guidelines page regularly <br>
                        </p>
                    </div>
                    <div>
                        <img src="../static/images/rocket.svg" style=" padding-top: 40px;"/>
                    </div>
                </div>

                <div>
                    <img src="../static/images/Pregnancy stages-pana (2) 1.svg" style="width:600px;height:500px;padding:80px"/>
                </div>
            </div>
        </div>

        <div style="display:flex; flex-direction:row; gap:100px; font-size: medium;">
            <div  style=" text-align:center; padding-top:100px; padding-left:100px; width:700px;">
                <p>
                    Pregnancy is a time of immense change, growth, and wonder.
                    As a pregnant woman, you are embarking on an incredible journey that will transform your body, your mind, and your heart in ways you may not yet imagine. You are creating a new life, a precious little person who will bring you love, joy, and fulfillment beyond measure.
                </p>
                <br>
                <p>
                    But pregnancy can also be a time of uncertainty, discomfort, and fear. It's okay to feel overwhelmed or anxious at times, and it's important to take care of yourself physically, emotionally, and spiritually during this time.
                </p>
                <br>
                <p>
                    Remember to nourish your body with healthy foods and gentle exercise, to rest when you need to, and to seek support from loved ones and healthcare providers whenever you need it.
                </p>
            </div>
           
            <div class="womencard" >
                <div><img src="../static/images/holdOutURhands.svg" style=" height:180px; width:180px; "/></div>
                <div style="padding: 5px;">
                    <p>
                        As you begin this journey of pregnancy, know that you are not alone. You have a community of support and love around you, and we are all here to help you.
                    </p>
                </div>
            </div>
        </div>

        <div class="trans">
            

        </div>

        
    </body>
</html>