<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Women Sign up</title>
    <link rel="stylesheet" href="../static/css/womenSignUp.css">
</head>

<body>
    <h1>Women Sign Up</h1>
    <form action="{% url 'womenSignUp' %}" method="post">
        {% csrf_token %}
        <div class="content">
            <img src="../static/images/brown big log.svg">
            <div class="contentWrapper">
                <p> Name</p>
                <input type="text" name="uname" placeholder="Full Name">
                <p>Email id</p>
                <input type="email" name="email" placeholder="eg: arunsmoki@gmail.com">
                <p>Age</p>
                <input type="text" name="age" placeholder="25">
                <p>Password</p>
                <input type="password" name="password" placeholder="enter a strong password">
                <p>Confirm Password</p>
                <input type="password" name="repassword" placeholder="******">
                <p>District</p>
                <input type="text" name="district" placeholder="eg: Thrissur">
                <p>Cooperation/Muncipality/Panchayath</p>
                <input type="text" name="cmp" placeholder=" ">
                <p>Ward No.</p>
                <input type="number" name="wardno" placeholder=" ">
                <p>Contact No.</p>
                <input type="number" name="phone">
                <p>RCHid</p>
                <input type="number" name="rchid">
                <p>bloodgroup</p>
                <input type="text" name="bg">
                <div class="SignUp">
                    <a >
                        <button type="submit">Sign Up</button>
                    </a>
                </div>

                <p>Already have an account? <a style="font-weight: bold;" href="{%url 'ashalogin'%}"> Login </a> </p>
            </div>
        </div>
    </form>
</body>

</html>