<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> women profile</title>
    <link rel="stylesheet" href="../static/css/wprofile.css">
</head>
<body>
    <section>
    <h1>Women Profile</h1>
<div class="content">
    
        <div class="contentWrapper">
            <p>Name</p>
                <input type="text"placeholder="   Full Name">
            <p>District</p>
                <input type="email"placeholder="   District">
            <p>Panchayath</p>  
                <input type="text"placeholder="   Panchayath">
            <p>Ward Number</p>     
                <input type="text"placeholder="   Ward Number">
            <p>Contact</p>     
                <input type="number"placeholder="   Contact">
            <p>Last Menustration</p>     
                <input type="number"placeholder="   Last Menustration Date">
            <p>Due Date</p>     
                <input type="number"placeholder="   Due Date">
            
                    
    <button class="button-71" role="button">Update</button>
               
                    
            </div>

        </div>
    </div>
    </section>
</body>
</html>