{% extends 'baseWomen.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/womenprofile.css">
{% endblock %}
{% block content %}

<div class="profilewoman-wrapper">
    <h1>Woman Profile</h1>

    <div class="content">

        <div class="contentWrapper">
            <div class="img-circle text-center mb-3">
                <img src="../static/images/profileIcon .svg" alt="Image" class="shadow">
            </div>

            <div class="new">
                <div>
                    <div class="labelprofile">
                        <p>Name :</p>
                        <p>{{my_dict.name}}</p>
                    </div>
                    <div class="labelprofile">
                        <p>District :</p>
                        <p>{{my_dict.district}}</p>
                    </div>
                    <div class="labelprofile">
                        <p>Panchayath :</p>
                        <p>{{my_dict.panchayath}}</p>
                    </div>
                </div>
                <div>
                    <div class="labelprofile">
                        <p>Ward Number :</p>
                        <p>{{my_dict.wardno}}</p>
                    </div>
                    <div class="labelprofile">
                        <p>Contact :</p>
                        <p>{{my_dict.phone}}</p>
                    </div>
                    <div class="labelprofile">
                        <p>RCH id :</p>
                        <p>{{my_dict.rchid}}</p>
                    </div>

                </div>
            </div>

            <div style="display: flex; gap: 5px; padding-top: 20px;">
                <a href="{% url 'wupdate' %}">
                    <button class="up">Update</button>
                </a>
                <a href="./whome.html">
                    <button class="can">Logout</button>
                </a>
            </div>
        </div>
    </div>

</div>


{% endblock %}