{% extends 'baseWomen.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/womenprofile.css">
{% endblock %}
{% block content %}
   
<section>
    <h1 style="padding-bottom: 5%;">Woman Profile</h1>

    <div class="content">
    
        <div class="contentWrapper">
            <div class="img-circle text-center mb-3">
                <img src="../static/images/profileImg.png" alt="Image" class="shadow">
            </div>
            
            <div class="new">
                <div>
                    <p>Name</p>
                        <input type="text"placeholder="  ">
                    <p>District</p>
                        <input type="email"placeholder="     ">
                    <p>Panchayath</p>  
                        <input type="text"placeholder="  ">
                </div>
                <div>
                    <p>Ward Number</p>     
                        <input type="text"placeholder="   ">
                    <p>Contact</p>     
                        <input type="number"placeholder="   ">            
                    <p>RCH id</p>     
                        <input type="number"placeholder="   ">
                </div>
            </div>

                <div style="display: flex; gap: 5px; padding-top: 20px;">
                    <a href="./wupdate.html">
                    <button  class="up" >Update</button>
                    </a>
                    <a href="./whome.html">
                    <button class="can" >Cancel</button>
                    </a>
                </div>
        </div>
    </div>

    </section>


{% endblock %}