<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reminder</title>
    <link rel="stylesheet" href="../static/css/wreminder.css">
</head>
<body>
    <h2 style="padding-left: 50%;padding-bottom: 30px;">Reminder....!</h2>
    <div  >
        <div class="reminder" style="padding-left: 30%; padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
        <div class="reminder" style="padding-left: 30%;padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" style="padding-left: 30%;padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" style="padding-left: 30%;padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" style="padding-left: 30%;padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    </div>
    
</body>
</html>