{% extends 'baseWomen.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/wreminder.css" />
{% endblock %}
{% block content %}
<div class="reminderwomenwrapper">
    <h2 style="padding-bottom: 30px;">Reminder....!</h2>
    <div  >
        <div class="reminder" style=" padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
        <div class="reminder" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 1.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >Tablets are available...!</h4>
                </div>
            </div>
           
        </div>
    </div>
</div>
{% endblock %}