{% extends 'baseWomen.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/wreminder.css" />
{% endblock %}
{% block content %}
<div class="reminderwomenwrapper">

    <h2 style="padding-bottom: 30px;">Reminder....!</h2>

    <div>
        <div class="reminder" id="month1" style=" padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 > It's your first month of pregnancy journey. Confirm your registration with an ASHA worker and take the first ANC checkup. Ensure to follow and update your guidelines . We assist  you with essential details that you need to follow in each month of pregnancy. Go check your guidelines….!
                    </h4>
                </div>
            </div>
        </div>
        <div class="reminder" id="month2" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >It's your Second month of pregnancy.Take your TD vaccine within the first 3 months. And Take 2nd dose after 28 days. Other details are provided in the guideline section, check it out….!
                    </h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" id="month3"style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4>It's your Third month of pregnancy.  Take your prenatal tests, such as the NIPT (non-invasive prenatal testing) or CVS (chorionic villus sampling). Other details are provided in the guideline section, check it out…. Make sure to follow it..!</h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder" id="month4" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >It's your Fourth month of pregnancy
                        Don’t forget to do the generic test this month .Take a second ANC Checkup within the sixth month.  Ensure that you follow and update your guidelines .We assist  you with essential details that you need to follow in each month of pregnancy. Go check your guidelines..!  </h4>
                </div>
            </div>
           
        </div>
    
        <div class="reminder"id="month5" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >It's your Fifth month of pregnancy. Remember to take your fetal anatomy ultrasound test, and be sure to check the guidelines.</h4>
                </div>
            </div>
           
        </div>

        <div class="reminder"id="month6" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >It's your Sixth month of pregnancy.
                        Take your IFA tablets. Keep in contact with your ASHA worker.
                        </h4>
                </div>
            </div>
           
        </div>

        <div class="reminder"id="month7" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >It's your seventh month of pregnancy. 
                        Take enough rest for your growing baby. Take a third ANC checkup within eight months.Go through your guidelines.
                        </h4>
                </div>
            </div>
           
        </div>

        <div class="reminder"id="month8" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >It's your eighth month of pregnancy.
                        Review the signs of labor and delivery, and learn about pain management options. Consider taking a childbirth education class to help prepare you for labor and delivery.
                        </h4>
                </div>
            </div>
           
        </div>

        <div class="reminder"id="month9" style="padding-bottom: 20px;" >
            <div class="reminderWrapper" >
                <div  style="display: flex; justify-content: center;">
                    <img src="../static/images/alarm 2.svg">
                </div>
                <div style="display: flex;flex-direction: column;justify-content: center;">
                    <h4 >It's your Ninth month of pregnancy.
                        Take your final ANC checkup.Review and finalize your birth plan with your healthcare provider. Make sure that you have made arrangements for transportation to the hospital or birth center.
                        Take care of postpartum health.
                        </h4>
                </div>
            </div>
           
        </div>
    </div>
</div>
{% endblock %}