{% extends 'whome.html' %}

{% block monthstyle %}
    <style>
        .myDiv{
            padding:20px;
            background-color: rgb(243, 224, 224);
            border-radius: 10px;
            width: 900px;
            height: 450px;
            overflow: auto;
            font-size: 16px;
            } 
        .insidemyDiv{
            display: flex; 
            gap: 20%;
            }
        .caluWeek{
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            }
        .update{
            padding: 5px 10px;
            border-radius: 10px;
            float: right;
            }
    </style>
      
{% endblock %}
{% block monthcontent %}
    <div style="display: flex;  justify-content: center;width: 900px;
        height: 450px;">
        <div id="showFour" class="myDiv">
            <h3 class="caluWeek">6 months to go....!  </h3>
            <div class="insidemyDiv" >
                <p class="instruction"> * Your healthcare provider may recommend certain prenatal tests, such as the NIPT (non-invasive prenatal testing) or CVS (chorionic villus sampling). </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Eat a healthy diet: Make sure you're getting plenty of fruits, vegetables, whole grains, and lean proteins. Avoid processed foods, sugary drinks, and foods high in saturated fats.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Continue taking prenatal vitamins: Prenatal vitamins are important throughout your pregnancy, so make sure you continue taking them as directed by your healthcare provider.</p> 
                <input type="checkbox"> 
            </div> 
            <div class="insidemyDiv" >
                <p class="instruction"> *Stay hydrated: Drink plenty of water and avoid sugary drinks and caffeine.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Exercise: Moderate exercise is safe during pregnancy and can help you feel better. Talk to your healthcare provider about what exercises are safe for you to do.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Schedule prenatal appointments: Make sure you attend all of your prenatal appointments with your healthcare provider. 
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Manage symptoms: You may experience symptoms such as morning sickness, fatigue, and mood swings during this stage of pregnancy. Talk to your healthcare provider if your symptoms are severe or affecting your daily life.


                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Start planning for baby: It's never too early to start planning for your baby's arrival. Consider taking a childbirth education class, creating a baby registry, and starting to think about childcare options.


                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Avoid certain activities: During pregnancy, it's important to avoid certain activities such as smoking, drinking alcohol, and taking certain medications.
                </p> 
                <input type="checkbox"> 
            </div>   
            
            
            <button class="update">Update</button>
    
        </div>
    
    </div>
{% endblock %}