<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>month1</title>

    <style>
        .myDiv{
            padding:20px;
            background-color: rgb(243, 224, 224);
            border-radius: 10px;
            width: 900px;
            height: 450px;
            overflow: auto;
            font-size: 16px;
            } 
        .insidemyDiv{
            display: flex; 
            gap: 20%;
            }
        .caluWeek{
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            }
        .update{
            padding: 5px 10px;
            border-radius: 10px;
            float: right;
            }
    </style>
      
</head>
<body>
    <div style="display: flex;  justify-content: center;">
        <div id="showEight" class="myDiv">
            <h3 class="caluWeek">2 months to go....! </h3>
            <div class="insidemyDiv" >
                <p class="instruction"> * Prepare for breastfeeding: Consider taking a breastfeeding class to learn about the benefits of breastfeeding, how to prepare for it, and how to get started.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Learn about childbirth: Continue learning about childbirth and discuss your options with your healthcare provider. Consider taking a childbirth education class to help prepare you for labor and delivery.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Prepare for your baby's arrival: Start preparing for your baby's arrival by setting up their nursery, purchasing necessary baby items, and packing your hospital bag.
                </p> 
                <input type="checkbox"> 
            </div>
            <div class="insidemyDiv" >
                <p class="instruction">*Attend all of your prenatal appointments: Continue to attend all of your prenatal appointments with your healthcare provider to monitor your baby's growth and development and to ensure that you are healthy.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Take prenatal vitamins: Continue taking your prenatal vitamins to help ensure that you are getting enough of the vitamins and minerals that you and your baby need.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Monitor your weight gain: It's important to continue monitoring your weight gain to ensure that you are gaining enough weight to support your baby's growth and development, but not too much that it can lead to complications.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Exercise regularly: Regular exercise during pregnancy can help improve your mood and energy levels, as well as help prepare your body for labor and delivery. However, be sure to consult with your healthcare provider before starting any exercise routine.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Eat a healthy, balanced diet: It's important to continue eating a well-balanced diet that includes plenty of fruits, vegetables, lean protein, and whole grains. Aim to eat foods that are rich in iron, calcium, and folic acid.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Get plenty of rest: As your body continues to work hard to support your growing baby, it's important to continue getting enough rest.
                </p> 
                <input type="checkbox"> 
            </div>  

        <button class="update">Update</button>
        </div>
    </div>
</body>
</html>