{% extends 'whome.html' %}

{% block monthstyle %}
    <style>
        .myDiv{
            padding:20px;
            background-color: rgb(243, 224, 224);
            border-radius: 10px;
            width: 900px;
            height: 450px;
            overflow: auto;
            font-size: 16px;
            } 
        .insidemyDiv{
            display: flex; 
            gap: 20%;
            }
        .caluWeek{
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            }
        .update{
            padding: 5px 10px;
            border-radius: 10px;
            float: right;
            }
    </style>
{% endblock %}
{% block monthcontent %}
    <div style="display: flex;  justify-content: center;width: 900px;
        height: 450px;">
        <div id="showNine" class="myDiv">
            <h3 class="caluWeek">1 months to go....! </h3>
            <div class="insidemyDiv" >
                <p class="instruction"> *  Learn about postpartum care: It's important to learn about postpartum care for both you and your baby, including breastfeeding, postpartum recovery, and newborn care.</p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *  Practice relaxation techniques: As you prepare for labor and delivery, consider practicing relaxation techniques such as deep breathing, meditation, or yoga to help manage stress and anxiety.</p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Plan for delivery: Discuss your birth plan with your healthcare provider and learn about the signs of labor. Pack your hospital bag and make arrangements for someone to take care of your other children or pets during your hospital stay.</p> 
                <input type="checkbox"> 
            </div>
            <div class="insidemyDiv" >
                <p class="instruction"> * Monitor your weight gain: It's important to continue monitoring your weight gain to ensure that you are gaining enough weight to support your baby's growth and development.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Attend all of your prenatal appointments: It's important to continue attending all of your prenatal appointments with your healthcare provider.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Eat a healthy and  balanced diet. Aim to eat foods that are rich in iron, calcium, and folic acid.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Stay hydrated: Continue to drink plenty of water to help prevent dehydration, which can lead to complications.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Get plenty of rest: As your body prepares for labor and delivery, it's important to continue getting enough rest.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Exercise regularly: Regular exercise during pregnancy can help improve your mood and energy levels.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Enjoy the last few weeks of pregnancy: Take time to enjoy the last few weeks of your pregnancy, and prepare for the exciting journey ahead as you welcome your little one into the world.
                </p> 
                <input type="checkbox"> 
            </div>  
        <button class="update">Update</button>
        </div>
    </div>
{% endblock %}