{% extends 'whome.html' %}

{% block monthstyle %}
    <style>
        .myDiv{
            padding: 20px;
            background-color: rgb(243, 224, 224);
            border-radius: 10px;
            overflow: auto;
            font-size: 16px;
            display: flex; 
            justify-content: center;
            width: 900px;
            height: 700px;
            flex-direction:column;
            } 
        .insidemyDiv{
            display: flex; 
            gap: 20%;
            }
        .caluWeek{
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
            }
        .update{
            padding: 5px 10px;
            border-radius: 10px;
            float: right;
            }
    </style>
{% endblock %}
{% block monthcontent %}
    <div class="myDiv">
        
            <h3 class="caluWeek">3 months to go....! </h3>
            <div class="insidemyDiv" >
                <p class="instruction"> * Monitor your weight gain: It's important to monitor your weight gain during pregnancy to ensure that you are gaining enough weight to support your baby's growth and development, but not too much that it can lead to complications.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Eat a healthy, balanced diet: A well-balanced diet that includes plenty of fruits, vegetables, lean protein, and whole grains is important during pregnancy. Aim to eat foods that are rich in iron, calcium, and folic acid.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> *Get plenty of rest: It's important to get enough sleep during pregnancy to help your body and your baby grow and develop.
                </p> 
                <input type="checkbox"> 
            </div>
            <div class="insidemyDiv" >
                <p class="instruction"> * Attend all of your prenatal appointments: It's important to attend all of your prenatal appointments with your healthcare provider to monitor your baby's growth and development and to ensure that you are healthy.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Exercise regularly: Exercise can help improve your mood and energy levels during pregnancy, as well as help prepare your body for labor and delivery. However, be sure to consult with your healthcare provider before starting any exercise routine.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Practice good hygiene: Wash your hands regularly to prevent the spread of germs, and avoid close contact with people who are sick.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Plan for childbirth: Start thinking about your birth plan, and discuss your options with your healthcare provider. Consider attending childbirth classes to help prepare you for labor and delivery..
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Stay hydrated: Drinking plenty of water is important during pregnancy to help prevent dehydration, which can lead to complications.
                </p> 
                <input type="checkbox"> 
            </div>  
            <div class="insidemyDiv" >
                <p class="instruction"> * Take prenatal vitamins: Prenatal vitamins are important during pregnancy to help ensure that you are getting enough of the vitamins and minerals that you and your baby need.
                </p> 
                <input type="checkbox"> 
            </div>  

        <button class="update">Update</button>
       
    </div>
{% endblock %}