*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image:url(../images/ashaConnection.svg) ;
    padding: 0 10%;
}
   
.intro{
    padding: 70px;
    font-size: 20px;
}
.steps{
    font-size: 18px;
    padding: 0px 70px 0px 70px  ;
}