*{
    margin: 0;
    padding: 0 ;
    font-family: sans-serif;
}

body{
    padding: 0 ;
    overflow-x: hidden;
    overflow-y: hidden;
}
.womenList{
    /* height: 100vh; */
    display: flex;
    align-items:flex-start;
    padding: 50px;
}
.eachWomen{
    background-color: rgb(240, 228, 215);
    border-radius: 10px;
    padding: 50px;
}
.updated{
    display: flex;
}
.new{
    display: flex;
    flex-direction: column;
    gap: 10px;
}