*{
    margin: 0;
    padding: 0 ;
    font-family: sans-serif;
}

body{
    padding: 0 ;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 50px;
}
.womenList{
    /* height: 100vh; */
    display: flex;
    align-items:flex-start;
    /* padding: 50px; */
    margin-top: 80px;
}
.eachWomen{
    background-color: rgb(240, 228, 215);
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 80px;
    width: 80px; */
}
.updated{
    display: flex;
}
.new{
    display: flex;
    flex-direction: column;
    gap: 30px;
}