*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    display: flex;
    justify-content: center;
}
body{
    background-color: #bea39b;  
    /* background-color: rgb(164, 201, 211); */

    background-size:cover;
    background-position: center;
    padding: 50px;    
    /* padding-top: 60px; */
    
    opacity:1;
}
p{
    padding-top: 20px;   
}

input{
    width: 600px;
    height : 23px;
    border-radius :5px;
    background-color: rgb(238, 233, 227);
    padding: 2px;
    border: 0;

}
.content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 4px;
    justify-content: center;
    
}
.contentWrapper{
    display: flex;
    flex-direction: column;
} 


/* CSS */
.button-71 {
  background-color: #8B614B;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  
  /* right: 22%; */
  top: 20%;
  bottom: 9.84%;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 40%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width:92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}